.author-info-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.story-author-info {
  display: flex;
  align-items: center;
  margin: 15px 0px 10px 0px;
}

.story-author-image {
  max-width: 35px;
  height: 35px;
  border-radius: 50px;
}

.story-author-text h4 {
  font-size: 14px;
  font-weight: normal;
  margin: 0 0 0 10px;
}

@media screen and (max-width: 700px){
  .story-author-text h4 {
    font-size: 10px;
  }
}